 <link rel="stylesheet" href="/css/msginput.css" type="text/css"/>
 <footer class="footer">
     <div class="container">

         <div class="input-group">
             <input type="text" class="form-control"  placeholder="Search for..." name="filter" ng-model="filter">
                 <span class="input-group-btn">
                     <button class="btn btn-default" type="button"><i class="fa fa-paper-plane"></i></button>
                 </span>
         </div><!-- /input-group -->

     </div>
 </footer>

