<link rel="stylesheet" href="/css/teaminbox.css" type="text/css"/>

<ul>
    <li ng-repeat="message in teamInbox" ng-switch="message.event">

        <span ng-switch-when="mail">
            <b>Maili</b>
            <h4><u><i><b>{{message.content.subject}}</b></i></u></h4>
            <div ng-bind-html="convertStringToHtml(message.content.content);"></div>
        </span>

        <span ng-switch-when="rss">
            <b>Är-äs-ässä</b>
            <h4><u><i><b>{{message.content.title}}</b></i></u></h4>
            <div ng-bind-html="convertStringToHtml(message.content.content);"></div>
        </span>

    </li>
</ul>